/*INDEX RECOMMANDATIONS*/

.MenusRestaurant {
    text-align: center;
    font-family: 'open_sansregular';
    color: $color_primary;

}

.connexion{
    position: absolute;
    margin-top: -104px;
    font-family: 'open_sansregular';
    font-size: 15px;
    color: $color_secondary;
    margin-left: 20px;
    i::before{
        background-image: $color_secondary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        margin-left: 25px;

        }
}

/*MENUS RECOMMANDATIONS*/

#encre {
    display: flex;
    justify-content: space-evenly;
}

#map{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactRestaurant {
    text-align: center;

}