
@import './fonts.css';

@import 'libs/animations.scss';

@import 'libs/variables.scss';



body {
    margin: 0;
}

h1{
    margin: 0px;
}

a{
    text-decoration: none;
    color: $color_secondary;
}

header {
    background: $color_primary;
    height: 10%;
}


.conteneur-menu {
    display: flex;
    justify-content: center;
    padding: 30px 0;

}

.linkMenu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


%btnmenu {
    width: 240px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 1px 1px 12px rgb(167, 165, 165);
    margin-left: 25px;
    margin-right: 25px;
}

.Menu_LaNoteEnchantée {
    @extend %btnmenu;
    background: $menu1color1;
    text-align: center;
        i::before{
        background-image: $color_gradient_clef;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;

        }
            h2 {
            font-family: $font-title-menu1;
            color: $title-menu1;
            }
            h3 {
                font-family: $font-menu1;
            }
}


.Menu_LeChicALaFrançaise {
    @extend %btnmenu;
    background: $menu2color1;
    text-align: center;
    h2 {
        font-family: $font-title-menu2;
        font-size: 16px;
        background-image: $color_gradient_menu2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        font-family: $font-menu2;
        color: $title-menu2;
    }
}

.Menu_LeDéliceDesPapilles {
    @extend %btnmenu;
    background: $menu3color1;
    text-align: center;
    h2 {
        font-family: $font-title-menu3;
        background-image: $color_gradient_menu3;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
    }
    h3{
        color: #0887FB;
    }
}

.Menu_LaPaletteDuGoût {
    @extend %btnmenu;
    background: $menu4color1;
    text-align: center;
    h2 {
        font-family: $font-title-menu4;
        background-image: $color_gradient_menu4;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
    }
    h3{
        color: #72BF56;
    }
}


.btnProchainement {
    background: $color_primary;
    color: $color_secondary;
    width: 180px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
    font-family: 'open_sansregular';
    cursor: pointer;
    &:active + .loading span{
        transform: scale(1.15);
    }

}


nav {
    display: flex;
    justify-content: space-evenly;
    background: $color_primary;
    color: $color_secondary;
    font-family: 'open_sansregular';
}

h1, h2{
    text-align: center;
    font-family: 'open_sansbold';
    margin-bottom: 50px;
    padding-top: 20px;
}


.navigation{
    position: fixed;
    bottom: 0 ;
    left: 0;
    width: 100%;
}


%container_menu {
    width: 80%;
    margin: auto;
    justify-items: center;
}


.container_menu_1 {
    @extend %container_menu;
    background-color: $menu1color1;
    h2{
        font-family: 'devonshireregular';
        color: $title-menu1;
        font-size: 50px;
    }
    h3{
        font-family: 'tillanaregular';
        font-size: 30px;
    }

}

.container_menu_2 {
    @extend %container_menu;
    background-color: $menu2color1;
    line-height: 45px;
    h2{
        font-family: $font-title-menu2;
        background-image: $color_gradient_menu2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
    }

}

.container_menu_3 {
    @extend %container_menu;
    background-color: $menu3color1;
    font-family: $font-menu1;
    h1, h2{
        font-family: $font-title-menu3;
        background-image: $color_gradient_menu3;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
    }

}


.container_menu_4 {
    @extend %container_menu;
    background-color: $menu4color1;
    font-family: $font-menu1;
    h2{
        font-family: $font-title-menu4;
        background-image: $color_gradient_menu4;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
    }

}



.area-menu {
    width: 80%;
    margin: auto;  
}

.lign-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;

.lign-left-menu-1, .lign-right-menu-1{
    width: 290px;
    max-width: 30%;
}
}

i::before{
    background-image: $color_gradient_clef;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

article{
    display: flex;
    justify-content: space-between;
}

.prelude, .pointDorgue, .mouvementFinal {
    font-family: $font-menu1;
}

ul{
    list-style: none;
    padding: 0;
}

.enApetit, .desPapilles, .gourmandisesSucrees{
    font-family: $font-menu2;
}


.enApetit{
    color: #C77412;
}

.desPapilles{
    color:#A56799 ;
}

.gourmandisesSucrees{
    color: #6E4CCC;
}

.appetit{
    color: #C77412;
}

.papilles{
    color: #A56799;
}

.sucrees{
    color: #6E4CCC;

}


/*responsive*/
@import 'libs/responsive.scss';

